*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}

.u-full-height{
  height: 100%;
}

.u-center-vertically{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container{
  margin: auto;
  width: 85%;
}

.button {
  transition: .3s;
  border: 1px solid black;
  padding: 7px 20px;
  border-radius: 20px;
  font-size: 12px;
}

.button:hover{
  background-color: #f1f1f1;
  color: black !important;
}

.navbar{
  height: 100px;
  width: 100%;
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.50);
}

#navbar-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar .navbar-list{
  list-style: none;
}

.navbar .navbar-list .navbar-item{
  margin: auto 0;
  display: inline;
  margin-right: 30px;
}

.navbar .navbar-list .navbar-item a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.navbar .navbar-list .navbar-item a:hover {
  color: green;
}

.navbar .navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar .navbar-right{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.navbar .navbar-right .navbar-list .navbar-item{
  margin-right: 0;
  margin-left: 10px;
}

#join-button{
  background-color: black;
  color: white;
}

#join-button:hover{
  background-color: rgba(0, 0, 0, 0.7);
  color: white !important;
}

.notice{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(212, 233, 226);
  width: 100%;
  height: 140px;
}

.notice-text{
  font-size: 20px;
  text-align: center;
  color: rgb(30, 57, 50);
}

.app{
  display: flex;
  color: white;
  margin-top: 25px;
  width: 100%;
  height: 300px;
  background-color: rgb(30, 57, 50);
  text-align: center;
}

.app .app-left{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app .app-left .title{
  font-weight: 400;
}

.app .app-left .app-lead{
  margin: 20px 0;
  font-size: 18px;
  line-height: 35px;
}

.app .app-left .button-green{
  background-color: inherit;
  border-color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 15px;
  margin-top: 20px;
}

.app .app-right{
  width: 100%;
  height: 100%;
}

.app .app-right .app-art{
  width: 100%;
  height: 100%;
}

.coffee{
  background-color: rgb(242, 240, 235);
  margin-top: 25px;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.coffee .coffee-left{
  width: 100%;
  height: 100%;
}

.coffee .coffee-left .coffee-art{
  width: 100%;
  height: 100%;
}

.coffee .coffee-right{
  width: 100%;
  height: 100%;
  color: rgb(30, 57, 50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coffee .coffee-right .title{
  font-weight: 700;
  text-align: center;
  font-size: 50px;
}

.coffee .coffee-right .coffee-lead{
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
}

.coffee .coffee-right .button{
  font-weight: 700;
  font-size: 14px;
}
